:root{
    --white: hsl(0, 0%, 100%);
    --lightGray:hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    
    @import url(https://fonts.googleapis.com/css?family=Outfit);

    --fontFamily: 'Outfit';
    --fontsize: 0.9375rem;
    --weight400: 400;
    --weight700: 700;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    background: var(--lightGray);
    font-size: var(--fontsize);
    font-family: var(--fontFamily), 'sans-sarif';

    display: grid;
    place-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: var(--white);
    margin: 50px auto;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

img{
    margin: 20px 0px;
    width: 90%;
}

h1, p{
    text-align: center;
    margin: 0;
}

h1{
    font-weight: var(--weight700);
}

p{
    font-weight: var(--weight400);
    margin: 15px 5px 40px 5px;
}

.card, img{
    border-radius: 10px;
}

@media screen and (min-width: 375px){
    .card{
        max-width: 335px;
        max-height: 516.5px;
    }
}

