:root{
    --white: hsl(0, 0%, 100%);
    --lightGray:hsl(212, 45%, 89%);

    --fontFamily: 'Outfit';
    --fontsize: 0.9375rem;
    --weight400: 400;
    --weight700: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    background: var(--lightGray);
    font-size: var(--fontsize);
    font-family: var(--fontFamily), 'sans-sarif';

    display: grid;
    place-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: var(--white);
    margin: 3.125rem auto;
    max-width: 20.9375rem;
    max-height: 32.28125rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
}

img{
    margin: 1.25rem 0;
    width: 90%;
}

h1, p{
    text-align: center;
}

h1{
    font-weight: var(--weight700);
}

p{
    font-weight: var(--weight400);
    margin: 0.9375rem 0.3125rem 2.5rem 0.3125rem;
}

.card, img{
    border-radius: 1rem;
}
